#section4 p {
  text-align: center;
  color: white;
}
#section4 button {
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: thin;
  padding: 2% 5%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #5c2483;
  background-color: white;
}
#section4 {
  background-color: #5c2483;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 15vw;
}
#section4 h2 {
  color: white;
}
#section4 button:hover {
  background-color: #5c2483;
  color: white;
}
