header img {
  width: 112px;
  height: 92px;
}

header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #e7f3e9;
  transition: box-shadow 0.3s;
}

.header-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

a,
select {
  text-decoration: none;
  color: #5c2483;
  font-weight: 300;
  text-wrap: nowrap;
}

a:hover {
  color: rgb(29, 172, 155);
  text-decoration: underline;
}

ul {
  display: flex;
  list-style-type: none;
  margin-left: 25vw;
}

li,
.dropdown-container {
  margin: 0 32px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

select {
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #e7f3e9;
}
.burger-menu {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
}
