#section1 {
  background-color: #e7f3e9;
  padding: 10vh 15vw;
  margin-top: 5vh;
}
#orga {
  background-color: #e7f3e9;
  padding: 12vh 15vw;
}
.textes p {
  height: 100%;
  font-size: 1.5em;
  font-weight: bolder;
  color: #1dac9b;
}
h5 {
  color: #1dac9b;
}
.line {
  display: flex;
  align-items: center;
}
h6 {
  color: #5c2483;
  margin-left: 2%;
}
.test {
  display: flex;
  align-items: center;
  justify-content: center;
}
.texte {
  width: 60%;
}
.title {
  display: flex;
  justify-content: space-around;
}
.images {
  display: flex;
  justify-content: space-around;
}

.images img {
  width: 200px;
  height: auto;
}
.sectiongrid {
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.sectiongrid h5 {
  font-size: 3em;
}

.sectiongrid h6 {
  font-size: 1.2em;
}

.sectiongrid p {
  font-size: 14px;
}
