html {
    width: 100vw;
}

#about {
    background-color: #e7f3e9;
    height: 100%;
    padding-left: 10vw;
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

h1, h2, h3 {
    margin: 0;
    line-height: 1.3em;
    font-weight: bold;
    color: rgb(92, 36, 131);
}

#about h1 {
    padding-top: 15vh;
    margin-bottom: 0;
    font-size: 64px;
}

#about p {
    display: flex;
    align-items: center;
    color: rgb(92, 36, 131);
}

#about .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

#about .img img {
    display: block;
    width: 50%;
    max-width: 400px;
    height: auto;
}

#about .img p {
    text-align: center;
    margin-top: 10px;
    color: rgb(92, 36, 131);
    line-height: 1.3em;
    font-weight: bold;
    font-size: 18px;
}

#about .space {
    margin: 25px 0;
}

#about h3 {
    font-size: 24px;
}

#about #origins-title {
    margin-bottom: 5vh;
}

#goals {
    background-color: white;
    height: 100%;
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}

#goal-header {
    padding: 0 5vw;
}

#contain-goals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#goals h2 {
    font-size: 56px;
    margin-bottom: 20px;
}

#goals h3{
    font-size: 24px;
}

#goals p {
    color:rgb(92, 36, 131);
}

.goal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#donate {
    background-color: #e7f3e9;
    height: 100%;
    padding: 10vh 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
}

#donate p {
    font-size: 16px;
    margin-bottom: 2vh;
}

#donate h3 {
    font-size: 56px;
    margin-bottom: 5vh;
}

#donate button {
    background-color: rgb(29, 172, 155);
    color: white;
    border: transparent 0px;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 600px) {
    #about {
        padding: 10vh 5vw;
        grid-template-columns: 1fr;
    }

    #about h1 {
        padding-top: 0;
        font-size: 48px;
    }

    #about p {
        padding-right: 0;
    }

    #about .img {
        flex-direction: column;
        align-items: center;
    }

    #about .img img {
        width: 80%;
    }

    #goals {
        padding: 10vh 5vw;
    }

    #goals h2 {
        font-size: 48px;
    }

    #goals h3 {
        font-size: 20px;
    }
}