* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
}

a,
select {
  text-decoration: none;
  color: #5c2483;
  font-weight: 300;
  font-size: 16px;
  text-wrap: nowrap;
}

a:hover {
  color: rgb(29, 172, 155);
  text-decoration: underline;
}

header img {
  margin-right: 20px;
  margin-left: 20px;
  width: 112px;
  height: 92px;
}

header {
  position: fixed;
  width: 100vw;
  padding: 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f3e9;
  transition: box-shadow 0.3s;
}

.header-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.navbar {
  margin: 0 15vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
}

li,
.dropdown-container {
  margin-right: 64px;
  margin-left: 64px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

select {
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #e7f3e9;
}
#section1,
#section2 {
  padding: 0 15vw;
}

#section1 {
  background-color: #e7f3e9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
