* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
}

a,
select {
  text-decoration: none;
  color: #5c2483;
  font-weight: 300;
  text-wrap: nowrap;
}

a:hover {
  color: rgb(29, 172, 155);
  text-decoration: underline;
}

header img {
  width: 112px;
  height: 92px;
}

header {
  padding: 1% 15vw;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #e7f3e9;
  transition: box-shadow 0.3s;
}

.header-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

ul {
  display: flex;
  list-style-type: none;
  margin-left: 25vw;
}

li,
.dropdown-container {
  margin: 0 32px;
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

select {
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #e7f3e9;
}
#section1,
#section2,
#section3,
#section4 {
  padding: 10vh 15vw;
}

#section1 {
  background-color: #e7f3e9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#section2 {
  background-color: white;
  display: flex;
}
#section3 {
  background-color: #e7f3e9;
}
#section4 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  padding: 1% 15vw;
  background-color: #e7f3e9;
}
.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-self: center;
}
.footer p {
  display: flex;
  align-items: center;
}
h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  color: #5c2483;
  margin: 2%;
}
h2 {
  color: #5c2483;
  font-size: 2.2em;
  font-weight: 700;
}

p {
  line-height: 2em;
  font-weight: thin;
  color: #5c2483;
  margin-bottom: 1em;
}

#section3 .gauche {
  display: flex;
  width: 40%;
  margin-right: 50%;
}
#section3 h2 {
  margin-bottom: 3%;
}
#section3 .droite {
  display: flex;
  justify-content: flex-end;
  margin-left: 50%;
}
#section3 img {
  width: 300px;
  height: 300px;
  margin: 0 10%;
}
#section3 p {
  font-size: 0.9em;
  line-height: 1.5em;
  width: 70vw;
}
#section4 p {
  color: black;
}
#section4 button {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: thin;
  padding: 1% 2%;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #1dac9b;
}

/* Ajoutez ce code à votre fichier CSS */

/* Styles par défaut pour la section 2 */
#section2 {
  display: flex;
  flex-wrap: wrap;
}

#section2 .gauche {
  width: 50%;
}

#section2 img {
  width: 50%;
  height: auto;
}

/* Media query pour les petits écrans */
@media (max-width: 1400px) {
  #section2 {
    display: block;
    text-align: center;
  }

  #section2 .gauche {
    width: 100%;
    margin-bottom: 20px; /* Ajout d'un espace entre le texte et l'image */
  }

  #section2 img {
    width: 100%;
    height: auto;
  }
}
